@import "tailwindcss";

:root {
	--radius: 0.625rem;
	--background: #ffffff;
	--foreground: hsl(0, 0%, 11%);
	--card: hsl(0, 0%, 100%);
	--card-foreground: hsl(0, 0%, 4%);
	--popover: hsl(0, 0%, 100%);
	--popover-foreground: hsl(0, 0%, 4%);
	--primary: hsl(0, 0%, 9%);
	--primary-foreground: hsl(0, 0%, 98%);
	--secondary: hsl(0, 0%, 96%);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: hsla(0, 0%, 11%, 0.5);
	--muted-foreground: hsl(0, 0%, 45%);
	--accent: oklch(0.97 0 0);
	--accent-foreground: hsl(3, 65%, 44%);
	--destructive: hsl(357, 96%, 58%);
	--border: hsla(0, 0%, 11%, 0.1);
	--input: oklch(0.922 0 0);
	--ring: hsl(0, 0%, 89%);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ad1c1c;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
